# Node modules
node_modules/

# Env files (VERY IMPORTANT)
.env
.env.*

# Uploads (user files)
backend/uploads/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files (if any later)
dist/
build/

# Optional
coverage/